.CuerpoContactos{
    display: flex;
    justify-content: center;
}

#FacebookIcono{
    color: #f2a3b8;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

#CorreoIcono{
    color: #f2a3b8;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

#InstagramIcono{
    color: #f2a3b8;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.Testo{
    text-align: center;
}