.ImagenTarjeta{
    width: 100%;
}

.ImagenTarjeta > img{
    width: 100%;
}

.imagenPerfil{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.InfoTarjeta{
    display: flex;
    align-items: center;
    
}

.IconoCompartirTarjeta{
    display: flex;
    align-items: flex-end;
}

.CuerpoDeTarjeta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Haiku{
    position: absolute;
}
