.ImagenTarjeta{
    width: 100%;
}

.ImagenTarjeta > img{
    width: 100%;
}

.imagenPerfil{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.InfoTarjeta{
    display: flex;
    align-items: center;
    
}

.IconoCompartirTarjeta{
    display: flex;
    align-items: flex-end;
}
<<<<<<< HEAD
.cuerpoTarjeta{
    display: grid;
    justify-content: center;
    border-top: 20px;
    border-right: 20px;
    border-left: 20px;
=======
.CuerpoDeTarjeta{
    display: flex;
    justify-content: space-between;
    align-items: center;
>>>>>>> master
}